---
import CallToAction from "../components/CallToAction/components/CallToAction";
import PageHeader from "../components/pageHeader/components/PageHeader";
import Layout from "../layouts/Layout.astro";
import About from "../pageComponents/AboutUs/components/AboutUs";
import OurTeam from "../pageComponents/Home/components/OurTeam";
import RepairProcess from "../pageComponents/Home/components/RepairProcess";

//styles
import "../styles/globals.css";
---

<div>
  <Layout>
    <PageHeader
      data={{
        image:
          "https://thumbor.forbes.com/thumbor/fit-in/900x510/https://www.forbes.com/home-improvement/wp-content/uploads/2023/05/ac-repair.jpeg.jpg",
        title: "About Us",
      }}
    />
    <About />
    <RepairProcess />
    <OurTeam />
    <CallToAction client:load />
  </Layout>
</div>
