---
import Layout from "../layouts/Layout.astro";
import AboutUs from "../pageComponents/AboutUs/components/AboutUs";
import HeroSection from "../pageComponents/Home/components/HeroSection";
import OurAssurance from "../pageComponents/Home/components/OurAssurance";
import ServiceList from "../pageComponents/Service/components/ServiceList";
import RepairProcess from "../pageComponents/Home/components/RepairProcess";

//css
import "../styles/globals.css";
---

<div class="">
  <Layout>
    <HeroSection />
    <OurAssurance />
    <AboutUs />
    <ServiceList />
    <RepairProcess />
  </Layout>
</div>
