---
import Layout from "../layouts/Layout.astro";
import AboutUs from "../pageComponents/AboutUs/components/AboutUs";
import HeroSection from "../pageComponents/Home/components/HeroSection";
import OurAssurance from "../pageComponents/Home/components/OurAssurance";
import RepairProcess from "../pageComponents/Home/components/RepairProcess";
import ServiceList from "../pageComponents/Service/components/ServiceList";
import OurTeam from "../pageComponents/Home/components/OurTeam";
import BestFeature from "../components/BestFeature/components/BestFeature";
import PricingPlans from "../pageComponents/Home/components/PricingPlans";
import Testimonial from "../components/Testimonial/components/Testimonial";
import CallToAction from "../components/CallToAction/components/CallToAction";
import TopNotchFeature from "../components/TopNotchFeature/components/TopNotchFeature";

//css
import "../styles/globals.css";
---

<div class="">
  <Layout>
    <HeroSection />
    <OurAssurance />
    <AboutUs />
    <ServiceList />
    <RepairProcess />
    <PricingPlans />
    <BestFeature />
    <Testimonial />
    <OurTeam />
    <TopNotchFeature />
    <CallToAction client:load />
  </Layout>
</div>
